**/node_modules/**
**/*.lock
**/*.pec
**/package-lock.json
**/.DS_Store
.netlify
experimental/contracts/output
**/build/**
backend/upload_service/functions/assets/*.json
**/share-336018-firestore-private-key.json
**/share-336018*.json
**/backend/share-gcp-test-pk.json
**/share-dev-*
**/share-test-*
**/backend/functions/assets/*.json
**/frontend/cypress/downloads
**/frontend/cypress/screenshots
**/frontend/cypress/videos/**
**/100MB.mp3
**/512MB.mp3
**/47KB.mp3
**/686KB.mp3
**/backup*
/api
**/backend/uploads/**
**/experimental/zkSync/artifacts-zk/
**/experimental/zkSync/cache-zk/
**/experimental/zkSync/contracts/
**/experimental/zkSync/node_modules/
.env
**/*-error.log
**/frontend/public/sw.*
**/frontend/public/workbox*
backend/.bashrc
backend/.bash_profile
**/.vscode/launch.json
**/.idea
**/.next
